.pf-v5-c-button.pf-m-plain {
  --pf-v5-c-button--PaddingTop: var(--pf-global--spacer--xs);
  --pf-v5-c-button--PaddingRight: var(--pf-global--spacer--sm);
  --pf-v5-c-button--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-v5-c-button--PaddingLeft: var(--pf-global--spacer--sm);
}

.pf-v5-c-dropdown__toggle::before {
  --pf-v5-c-button--PaddingTop: var(--pf-global--spacer--xs);
  --pf-v5-c-button--PaddingRight: var(--pf-global--spacer--xs);
  --pf-v5-c-button--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-v5-c-button--PaddingLeft: var(--pf-global--spacer--xs);
}

