@import '~@theforeman/vendor/scss/variables';

.pf-c-select__toggle {
  font-size: var(--pf-global--FontSize--xs);
  font-weight: var(--pf-global--FontWeight--bold);
};

.pf-c-switch__input ~ .pf-c-switch__label {
    font-size: var(--pf-global--FontSize--xs);
};
