@import 'foremanReact/common/colors';

.pf-v5-c-select__toggle {
  font-size: var(--pf-global--FontSize--xs);
  font-weight: var(--pf-global--FontWeight--bold);
};

.pf-v5-c-switch__input ~ .pf-v5-c-switch__label {
    font-size: var(--pf-global--FontSize--xs);
};
