@import '~@theforeman/vendor/scss/variables';

.pf-c-tile {
  --pf-c-tile--PaddingTop: var(--pf-global--spacer--xs);
  --pf-c-tile--PaddingRight: var(--pf-global--spacer--xs);
  --pf-c-tile--PaddingBottom: var(--pf-global--spacer--xs);
  --pf-c-tile--PaddingLeft: var(--pf-global--spacer--xs);
}
